{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block body %}
<div class="container" id="contact">
		<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
	<form class="well form-horizontal" action="{{ url_for('contact') }}" method="post"  id="contact_form">
		<fieldset>
 		 	<legend >Contact Us Today!</legend>
		
			<!-- Text input-->  
			<div class="form-group">
			  <label class="col-md-2 control-label" for="name">Name</label>  
			  <div class="col-md-8 inputGroupContainer">
			  <div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			  <input class="form-control" type="text" name="name" placeholder="Your Name (optional)" value="{{ request.form.name }}">
			  </div>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-2 control-label" for="email">E-Mail</label>
			    <div class="col-md-8 inputGroupContainer">
			    <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			  <input class="form-control"  type="text" name="email" placeholder="E-Mail Address (required)" value="{{ request.form.email }}">
			    </div>
			  </div>
			</div>

			{% if not email_valid %}
				<div class="alert alert-warning" role="alert" >
					<div class="flash">Please input a valid email.</div>
				</div>
			{% endif %}

	    	<!-- Text area -->
			<div class="form-group">
			  <label class="col-md-2 control-label">Message</label>
			    <div class="col-md-8 inputGroupContainer">
			    <div class="input-group">
			        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
			        	<textarea class="form-control" name="texts" placeholder="Pease leave your message here (more than ten characters)" value="{{ request.form.texts }}"></textarea>
			  </div>
			  </div>
			</div>

			{% if not texts_valid %}
				<div class="alert alert-warning" role="alert" >
					<div class="flash">More than ten characters are required for the message.</div>
				</div>
			{% endif %}

			<!-- Success message -->

			{% if sendout %}
				<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
			{% endif %}


			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-5 control-label"></label>
			  <div class="col-md-4">
			    <button type="submit" class="btn btn-primary" >Send <span class="glyphicon glyphicon-send"></span></button>
			  </div>
			</div>

  		</fieldset>
	</form>
	</div>
	</div>
</div>

{% endblock %}