{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
	<div>
		<img class="center-block" id="big-logo" src="{{ url_for('static', filename='img/actug_logo.png') }}" alt="ACTuG" >
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<form method="post" id="search_form">
				<div class="form-group">
					<div class="input-group">
				      <input type="text" class="form-control" name="search" placeholder="Search for a gene ..." value="{{ request.form.search }}">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				      </span>
				    </div><!-- /input-group -->
			    </div>
		    </form>
	    </div>
    </div>

</div>
{% endblock %}