{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block search %}
	<form class="navbar-form navbar-left" method="post" id="search_form">
		<div >
			<div class="form-group">
				<input type="text" class="form-control" name="search" placeholder="Search for a gene..." value="{{ request.form.search }}">
			</div>
			<button type="submit" class="btn btn-default" id="nav-search"><span class="glyphicon glyphicon-search"></span></button>
		</div>
	</form>
{% endblock %}

{% block body %}

<div class="container" id="contact">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">{{ gene_info.symbol }}{{gene_info.names_str}}: {{gene_info.description}}</div>
			  <div class="panel-body">
				{% for seq in oligos %}
				<div class="panel panel-default container-fluid">
					<div class="panel-heading row">
						<div class="col-md-10">
							<h5 class="panel-title">5'-{{ seq.sequence }}-3'</h5>
						</div>
						<div class="col-md-2">
							<a href="/oligo/{{seq.id}}">
								<button class="btn btn-info pull-right">{{ seq.cite_list|length }}
								 {% if seq.cite_list|length <= 1 %}
								   citation
								 {% else %}
								  citations
								 {% endif %}
								 </button>
							</a>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-md-4">
							<ul class="list-inline">
								<li>Accession No.: </li>
								<li>{{seq.accessionId}}</li>
							</ul>		    
						</div>
						<div class="col-md-4">
							<ul class="list-inline">
								<li>Type: </li>
								<li>{{seq.type}}</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="list-inline">
								<li>Species:</li>
								<li>{{seq.species}}</li>
							</ul>		    
						</div>
					</div>
				</div>
				{% endfor %}
			  </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}